<!DOCTYPE html>
<html>
<head>
    <title>Smart Mess</title>
    <link rel="stylesheet" href="static/style.css">
</head>


    <body>
        <center>
            <h1>Smart Mess</h1>
            <h3>SSN College Of Engineering - Kalavakam</h3>
        </center>

        <hr>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>  

        <center>
            <button><a href="{{ url_for('student_login') }}">Student Login</a></button>
        </center>

        <br>
        <br>
        
        <center>
            <button><a href="{{ url_for('admin_login') }}">Admin Login</a></button>
        </center>

        <br>
        <br>
        
        <center>
            <button><a href="{{ url_for('student_register') }}">Student Registeration</a></button>
        </center>
    </body>
</html>